---
---

@import "{{ site.theme }}";

// h1.project-name, h1.site-title, header .project-name, .site-header, .page-header {
//     display: none !important;
// }

.project-name, .project-tagline{
    margin: 2rem 0;
}

body{
    background-color: #1B1F23;
    color: white;
}

// Navbar CSS
.head-nav {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    gap: 1rem;
}

// Other CSS
.page-header{
    background-color: #262A2D !important;
    background-image: none;
}

// Page resize
@media screen and (max-width: 42em) {

    .btn{
        margin-top: 0 !important;
    }
    
    .btn:last-child {
        margin-bottom: 0;
    }
    
    .page-header{
        padding: 1rem;
    }
    
    .main-content{
        padding: 1rem;
    }
    
    .head-nav {
        grid-auto-flow: row;
        justify-content: initial;
    }

    .head-nav a{
        width: 100%;
        margin: 0 !important;
    }
    
}
